/* #region General Styles */

body {
	font-size: 1rem;
}

/* #endregion */

/* #region Header Adjustment */

/* #endregion */

/* #region Body Adjustment */

.fluid-width-video-wrapper {
	margin-top: 20px;
}

.ipost {
	.entry-title {
		h3 {
			font-size: 1.125rem;
		}
		h4 {
			@extend h3;
		}
	}
}

/* #endregion */