@import 'variables';

/* #region General Styles */

body {
	font-size: 1rem;
}

ul {
	margin-left: 30px;
}
.btn {
	padding: 10px 30px;
}

/* #endregion */

/* #region Header Adjustment */
#header {
	&.full-header {
		border-bottom-color: #ddd;
		#primary-menu {
			> ul {
				padding-right: 0;
				margin-right: 0;
				border-right: none;
			}
			li {
				&:hover {
					background-color: $secondary-color;
					> a {
						color: $primary-menu-font-color;
					}
				}
			}
		}
		#logo {
			border-right: none;
			@media (max-width: 575.98px) {
				height: 75px;
			}
			img {
				@media (max-width: 575.98px) {
					height: 75px;
				}
			}
		}
		#primary-menu-trigger {
			@media (max-width: 575.98px) {
				top: 14px;
			}
		}
	}
}

#top-bar {
	background-color: $page-title-bg;
	.top-links {
		ul {
			li {
				border-left: 1px solid #ddd;
				&:hover {
					background-color: $secondary-color;
				}
				a {
					&:hover {
						color: #000000;
					}
				}
			}
		}
	}
	.top-left-links {
		@media (max-width: 991.98px) {
			display: none;
		}
	}
	.top-right-links {
		ul {
			li {
				border-right: 1px solid #ddd;
				border-left: none;
				&:first-child {
					border: none;
					padding-right: 10px;
				}
				&:last-child {
					border-right: none;
				}
				&.no-hover {
					&:hover {
						background-color: transparent;
					}
					@media (max-width: 575.98px) {
						display: none;
					}
				}
			}
		}
	}
}

/* #endregion */

/* #region Body Adjustment */

.fluid-width-video-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 28% !important;
	.entry-image & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

h3 {
	&.card-title {
		font-size: 1.125rem;
	}
}
.card {
	margin-bottom: 40px !important;
	background-color: #f9f9f9;
	p {
		margin-bottom: 20px;
	}
}
.card-title {
	a {
		color: #222;
	}
}
.card-list {
	list-style: none;
	font-family: "Crete Round", serif;
	font-size: 13px;
	margin-left: 0;
	margin-bottom: 10px;
	li {
		display: inline;
		margin-right: 5px;
		&:before {
			content: '/';
			display: inline-block;
			margin-right: 10px;
			opacity: 0.5;
		}
		&:first-child {
			&:before {
				content: '';
				margin: 0;
			}
		}
	}
}
.card-footer {
	background-color: transparent;
	border-top: none;
	margin-bottom: 20px;
	.btn {
		background-color: $theme-color;
		color: #fff;
	}
}
#content {
	.content-wrap {
		padding-top: 40px;
	}
}
.text-overlay {
	@media (min-width: 768px) {
		padding: 50px 15px 25px;
	}
}
.text-overlay-title {
	h3 {
		@media (min-width: 768px) {
			font-size: 24px;
		}
	}
}
.text-overlay-meta {
	@media (min-width: 768px) {
		font-size: 14px;
	}
}

/* #endregion */

/* #region Footer Adjustment */

#footer {
	a {
		&:hover {
			color: $secondary-color;
		}
	}
}

#copyrights {
	a {
		color: $secondary-color;
	}
}
.copyright-links {
	li {
		display: inline;
	}
}

/* #endregion */